.privacyContainer {
    height: 100vh;
    padding: 2rem;
    justify-content: space-between;
  }
  
  .privacyTopBar {
    margin-bottom: 1rem;
  }
  
  .privacyCancelLink {
    padding-left: 0.5rem;
    font-weight: bold;
    color: #007aff;
  }
  
  .privacyTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .privacyDescription {
    padding: 1rem;
    color: #444;
    text-align: center;
  }
  
  .privacyLearnMore {
    color: #007aff;
    margin-top: 1rem;
  }
  
  .privacyButtons {
    margin-bottom: 2rem;
  }
  