.orderSuccessContainer {
    padding-top: 2rem;
    gap: 2rem;
  }
  
  .logoSection .appTitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .statusText {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  .balanceSection .balanceNumber {
    font-size: 2rem;
    color: #107e3e;
  }
  
  .balanceLabel {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
  }
  
  .footerSection {
    margin-top: 3rem;
    gap: 0.5rem;
  }
  .homeButton {
    margin-top: 1rem;
    background-color: #f0f0f0;
  }
  